body {
    font-family: 'Nanum Pen Script', cursive;
    background-color: #A1EFFF;
}    
       
h1 {
    text-align: center;
    font-size: 65px;
    margin-bottom: 0;
    margin-top: 10px;
}

h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: -10px; 
}

#levels {
    margin-top: -15px;
    padding-top: 5px;
}

#levelSelect {
    margin-top: 0;
    margin-bottom: -5px
}

.startButton {
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid blue;
}

ul {
    text-align: center;
    padding-right: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

li {
    display: inline-block;
}

#wordInDiv {
    text-align: center;
    font-size: 50px;
    margin-bottom: -10px; 
    display: block;
}

#word {
    height: 25vh;
    margin-right: 15vw;
    margin-left: 15vw;
    padding-top: 5vh;
    line-height: 1.3;
}

#message {
    display: block;
    font-size: 70px;
    text-align: center;
}

#guess {
    background-color: white;
    border: 1px solid #869091;
    border-radius: 5px;
}

#guesses {
    font-size: 50px;
    text-align: center;
    display: block;
    margin-bottom: -10px; 
}

h3 {
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
}

form {
    text-align: center;
}

#form {
    margin-bottom: 15px;
}

.inputLetter {
    margin-bottom: -20px;
    padding-bottom: 15px;
}

.instructions {
    margin-top: 0;
    margin-left: 2vw;
    margin-bottom: 5vh;
}

.instructions h2 {
    margin-top: 10px;
}

footer {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    line-height: 1;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 20px;
}

#exit {
    display: none;
}

@media (max-width: 600px) {
    .instructions {
        display: none;
    }

    #letter-field {
        height: 35px;
        width: 180px;
        margin-top: 8px;
        margin-right: 5px;
        font-size: 15px;
    }

    h3 {
        font-size: 30px;
        padding-right: 70px;
    }

    #guess {
        padding: 6px 16px;
        border-radius: 5px;
        background-color: #A5B1B2;
        border:1px solid #4E5454;
        font-size: 15px;
    }

    #message {
        font-size: 50px;
    }

    #word {
        margin-bottom: 30px;
        margin-right: 3vw;
        margin-left: 3vw;
    }

    #wordInDiv {
        margin-top: 30px;
    }
}

@media (max-width: 448px) {
    h3 {
        margin-top: 60px;
    }

    #wordInDiv {
        font-size: 35px;
        padding-bottom: 10px;
    }

    #guesses {
        font-size: 35px;
    }

    #word {
        margin-bottom: 0;
    }

    #form {
        margin-bottom: 100px;
    }
}